################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Microservice1/bin/Debug/net5.0
/Microservice1/obj
/Microservice1/.vs/Microservice1/v16
/Microservice1/.vs/Microservice1
